body {
    background-color: aqua;
    background-image: url(CoolWallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Arial", serif;
    color: red;
}
