.content{
    background-color: transparent;
    font-weight: bolder;
    font-size: 25px;
    font-family: "Bahnschrift Light";
    margin: auto;
    text-align: left;
    color: black;
    height: 500px;
    width: 800px; 
    z-index: 1;
}

.intro{
    background-color: transparent;
    font-weight: bolder;
    font-size: 50px;
    font-family: "Bahnschrift Light";
    margin: auto;
    text-align: center;
    color: black;
    height: 500px;
    width: 800px; 
    z-index: 1;
}

.navigation{
    margin-top: auto;
    background-color: transparent;
    color: #FFFFFF;
    font-family: "Bahnschrift Light";
    text-align: center;
    height: 90px;
    width: 100%;
    z-index: 2;
}

#excelBGVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;   
}

.tntbutton{
    background-color: #3366ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.tntbutton:hover{
    background-color: #002db3;
    color: white;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.darkmodebutton{
    background-color: #8c8c8c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.darkmodebutton:hover{
    background-color: #333333;
    color: white;
}

.dark-mode{
    background-color: black;
    color: white;  
}

.dark-mode-content{
    color: white;
}

@font-face {
    font-family: "Dyslexie Regular";
    src: url(fonts/Dyslexie%20Regular.woff) format('woff');
}

.dyslexicfont{
    font-family: "Dyslexie Regular";
    background-color: #00ff80;
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.dyslexicfont-content {
    font-family: "Dyslexie Regular";
    font-size: 17px;
}

.dyslexicfont:hover{
    background-color: #008040;
    color: white;
}

.submitbutton {
    background-color: chartreuse;
    cursor: pointer;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 25%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.cancelbtn{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.signupbtn{
    background-color: #00ff00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 60px; /* Stay at the top */
  left: -5px;
  background-color: transparent; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-family: "Bahnschift Light";
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
  display: block;
  font-family: "Bahnschrift Light";
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main{
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: "Bahnschrift Light";
}

